@import url(http://fonts.googleapis.com/css?family=Oswald:400);
html,
body {
  height: 100%;
  background-image:url('../images/brickwall.jpg');
  background-size: cover;
}
h1, h3 {
  color: black;
}

h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
ul li{
  margin:1em;
  float:left;
}

footer {
  margin: 50px 0;
}


/*Main Component of Site*/

/*.carousel,
.item,
.active {
  height: 100%;
}*/

.carousel-inner {
  height: 100%;
}

.right-arrow {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 25px;
  right: 0;
  margin: 0 10px;
}

.left-arrow {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 25px;
  left: 0;
  margin: 0 10px;
}

a:hover, a:focus {
  color: #ccc;
  text-decoration: none;
}


.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Main Page*/


@font-face {
    font-family: 'Crimes';
    src: url('../images/crimes.ttf');
}
.home {
  background-image: url('../images/HDLogo.png');
  height: 200px;
  width: 207px;
  background-size: cover;
  margin: auto;
}

.logo-design {
  background: rgba(109, 27, 25, 0.23);
  border-radius: 10px;


}
.graphic-board {
    background-color: #3B3B3B;
    margin-top: 20px;
    border: 16px solid #8D410F;
    height: 100%;

}
.graphic {
  background-image: url(../images/grey.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 390px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.motto {
  /*background: #fff;*/
  color: #fff;
  font-family: 'Crimes';
  /*border: 8px solid black;*/
  padding: 20px;
}

/* 510 to 991 */

@media (max-width: 991px) and (min-width: 850px) {
  .graphic {
    margin-left: 25%;
  }
  
}
@media (max-width: 849px) and (min-width: 750px) {
  .graphic {
    margin-left: 21%;
  }
  
}

@media (max-width: 749px) and (min-width: 689px) {
  .graphic {
    margin-left: 17%;
  }
  
}

@media (max-width: 689px) and (min-width: 632px) {
  .graphic {
    margin-left: 14%;
  }
  
}

@media (max-width: 631px) and (min-width: 600px) {
  .graphic {
    margin-left: 12%;
  }
  
}

@media (max-width: 599px) and (min-width: 560px) {
  .graphic {
    margin-left: 8%;
  }
  
}

@media (max-width: 559px) and (min-width: 510px) {
  .graphic {
    margin-left: 5%;
  }
  
}


.ribbon {
 font-size: 16px !important;

 width: 50%;
    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; 
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}




/*White Board Design*/

.sign {
  /* Give it a white border */
  border: 5px solid #fff;
  /* pad content text away from the edges of the sign */
  padding: 0.25em 1em .75em;
  /* give it a drop shadow and inset shadow at the top */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  /* setup a default background red and a red gradient where supported */
  background-color: #f5f5f5;
  /*background: linear-gradient(top, #ff9696 0%, #c80000 100%);*/
  /* attempt to get rid of jaggies when rotated */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  /* nice rounded corners */
  border-radius: 15px;
  /* set the swing origin (nail body) */
  transform-origin: 50% -65px;
  /* animate the swing with pendulum-style easing */
  animation: swing 1.5s infinite alternate ease-in-out;
}
.sign:hover {
  /* Hover over the sign to stop the animation */
  animation-play-state: paused;
}
.sign P {
  /* Typography */
  font-smoothing: antialiased;
  /* let's have uppercase.. */
  text-transform: uppercase;
  /* Arial... */
  font-familty: Arial, sans-serif;
  /* bold... */
  font-weight: bold;
  /* white... */
  color: #fff;
  /* centered text */
  text-align: center;
  /* with a subtle drop shadow for definition */
  text-shadow: 0 0 2px rgba(0,0,0,1);
  /* kill any default P margins and center it */
  margin: 0 auto;
  line-height: normal;
}

.sign IMG {
  display:block;
  width:3.5em;
  margin:auto;
}

.sign-text {
  font-size: 25px;
  font-family: 'Coming Soon', cursive;
  text-align: center;
}


.sign-sticky {
  height: 200px;
  width: 330px;
  margin: 0 auto;
}

/*About Page*/

.clipboard:after, .clip, .clip:before, .paper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.clipboard {
  position: relative;
  display: block;
  height: 17em;
  width: 13em;
  margin: 5em auto;
  border-radius: 3%;
  background: #72c493;
  background: linear-gradient(-45deg, #72c493 50%, #a8dbbc);
}

.red {
  background: linear-gradient(-45deg, #bb4d4d 50%, #d34c4c);
}
.clipboard:after {
  top: 1.75em;
  content: "";
  height: 0.75em;
  width: 11em;
  background: #fefefe;
}

.clip {
  z-index: 2;
  top: 2.2em;
  display: block;
  height: 5em;
  width: 8em;
  border-radius: 50%;
  background: #c5c5c6;
}
.clip:before {
  content: "";
  top: -.5em;
  height: 2.3em;
  width: 2.3em;
  border: 1.4em solid #c5c5c6;
  border-radius: 50%;
  background: #fefefe;
}

.paper {
  z-index: 2;
  display: block;
  height: 14em;
  width: 11em;
  margin-top: .5em;
  background: #fefefe;
}
.paper:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.25em;
  width: 1.25em;
  background: linear-gradient(-45deg, #72c493 50%, #e7e8e9 50%);
}
.red-paper:before {
  background: linear-gradient(-45deg, #bb4d4d 50%, #e7e8e9 50%);
}
.paper:after {
  content: "";
  position: absolute;
  height: 1em;
  width: 1.2em;
  box-shadow: 1em 2em #e7e8e9, 4em 2em #e7e8e9, 5em 2em #e7e8e9, 6em 2em #e7e8e9, 7em 2em #e7e8e9, 8em 2em #e7e8e9, 9em 2em #e7e8e9, 1em 4em #e7e8e9, 4em 4em #e7e8e9, 5em 4em #e7e8e9, 6em 4em #e7e8e9, 7em 4em #e7e8e9, 8em 4em #e7e8e9, 9em 4em #e7e8e9, 1em 6em #e7e8e9, 4em 6em #e7e8e9, 5em 6em #e7e8e9, 6em 6em #e7e8e9, 7em 6em #e7e8e9, 8em 6em #e7e8e9, 9em 6em #e7e8e9, 1em 8em #e7e8e9, 4em 8em #e7e8e9, 5em 8em #e7e8e9, 6em 8em #e7e8e9, 7em 8em #e7e8e9, 8em 8em #e7e8e9, 9em 8em #e7e8e9;
}

.center {
  text-align: center;
}

.about-text {
  font-family: 'Hammersmith One', cursive;
  color: black;

}

/*Mailing List*/

.spacing {
  margin-top: 35px;
}
.notepad {
  margin: 1.5em auto;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(80,0,0,.3);
}

.notepad h1 {
  text-align: center;
  font-size: 1em;
  background-color: #ffa100;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.15));
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px rgba(255,255,255,.3);
  border: 1px solid rgba(0,0,0,.5);
  padding: .75em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin: 0;
  position: relative;
}

.notepad h1:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 4px;
  left: 0;
  border-bottom: 1px dashed rgba(0,0,0,.6);
}

.notepad input {
  font: inherit;
  font-size: .75em;
  color: rgba(0,0,0,.7);
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  border-color: rgba(0,0,0,.7);
  border-top: 0;
  resize: vertical;
  min-height: 74px;
  padding: 1em;
  /*background-image: linear-gradient(0deg, transparent, transparent 24px, #f0c9ca 24px, #f0c9ca 25px, transparent 25px, transparent 27px, #f0c9ca 27px, #f0c9ca 28px, transparent 28px), linear-gradient(#fff, #fff 17px, #e3ebf3 17px, #e3ebf3 18px);*/
  background-size: 36px 18px, 36px 18px;
  background-repeat: repeat-y, repeat;
}

input[type='text'] { font-size: 24px; font-family: 'Tillana', cursive; }

#success_message { 
  display: none;
}


/*Sticky Note Form Field*/

.post-it {
  background-color: #ffc;
  height: 280px;
  width: 280px;
  /*margin-top: 35px;*/
  border: 0px;
  padding: 10px;
}
textarea {
  overflow: hidden;
  resize: none;
}
textarea:focus, input:focus, a:focus, button:focus{
    outline: none;
    border: 0px;
}

canvas {
  background:#ffc;
  /*margin-top: 35px;*/
  cursor: crosshair;

}


.selection {
  font-family: 'Permanent Marker';
  color: black;
  background-color: #ffc;
}

.type-font {
  font-family: "Anonymous Pro";
}

.button {
  position: relative;
}

.button i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.col-md-4 {
  position: static;
}

.palette {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 38px;
}


.red {
  background-color: #e72a2a;
}
.orange {
  background-color: #ff7b00;
}
.yellow {
  background-color: #ffcf33;
}
.green {
  background-color: #659b41;
}
.blue {
  background-color: #1949ec;
}
.purple {
  background-color: #733dba;
}
.brown {
  background-color: #784212;
}
.black {
  background-color: #000;
}

.submit-btn {
  font-family: "Hammersmith One";
  font-size: 25px;
  padding: 0px;
}

.sub-size {
  font-size: 18px;
  border-radius: 2px;
  width: 100%;
}
.sub-size i {
  font-size: 100px;
}

.success-box {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}

.space {
  margin-top: 10px;
}

.no-vision {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border: none;
}


/* Mobile Edits */


@media (max-width: 991px) {
  .carousel-inner {
    height: 200%;
}
}




