<!DOCTYPE html>
<html ng-app="HD_App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zLp2lMNCe65YQpWEXaaI8DjEZYv_PsDE1GoffkYCGUI" />
    <title>Hamlin Davis</title>
    <link rel="icon" href="../images/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Hammersmith+One|Tillana|Coming+Soon|Reenie+Beanie|Anonymous+Pro|Fugaz+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/ifvY83JWHj7BQcoCTyoQ6o/icons.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js" type="text/javascript"></script>
</head>
<body ng-controller="mainController" > 

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" data-interval="false">

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" >
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="col-md-12 logo-design">
                    <div class="home"></div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 graphic-board">
                        <div class="">
                            <h1 class="center motto">Not quite private equity. <br> Not quite an accelerator or incubator. <br> Not at all an intimidating capital service.</h1>
                        </div>
                        <!-- <div class="col-md-6">
                            <h1 class="center motto">Not quite private equity. <br> Not quite an accelerator or incubator. <br> Not at all an intimidating capital service.</h1>
                        </div>
                        <div class="col-md-6">
                            <div class="graphic"></div>
                        </div> -->
                    </div>
                    
                </div>
                             
                
            </div>
            <div class="item">
                <div class="fill">
                    <form action="/submission" method="post"  id="submission_form">

                        <div class="row">
                            <div class="col-md-4 center" style="padding-top: 85px;">
                                <div class="sign sign-sticky"> 
                                    <h3 class="sign-text">Tell us about what value your customers derive from your offering(s) within the limits of this sticky note.</h3>   
                                </div>
                                <a class="btn selection" ng-click="drawSelect1()">Draw</a>
                                <a class="btn selection" ng-click="textSelect1()">Write</a>

                                <div ng-show="text1" >
                                    <textarea class="post-it" name="question1" ng-model="subForm.message1" data-role="none" placeholder="Type Response"></textarea>
                                </div>


                                <div ng-show="draw1" >
                                    <canvas id="canvas" width="280" height="280"></canvas>
                                </div>
                                <div ng-show="draw1">
                                    <a class="btn selection" id="clearCanvasSimpleTools" type="button">Clear</a>

                                    <!-- <button onclick="exportImage()" targe="_blank">Export</button> -->
                                </div>

                            </div>
                            <div class="col-md-4 center" style="padding-top: 85px;">
                                <div class="sign sign-sticky"> 
                                    <h3 class="sign-text">We like team players, so tell us what we need to know about your team, but only if you can fit it on this sticky note.</h3>   
                                </div>
                                <div>
                                    <a class="btn selection" ng-click="drawSelect2()">Draw</a>
                                    <a class="btn selection" ng-click="textSelect2()">Write</a>
                                </div>

                                <div ng-show="text2" >
                                    <textarea class="post-it" name="question2" ng-model="subForm.message2" data-role="none" placeholder="Type Response"></textarea>
                                </div>


                                <div ng-show="draw2">
                                    <canvas id="canvasmiddle" width="280" height="280"></canvas>
                                </div>
                                <div ng-show="draw2">
                                    <a class="btn selection" id="clearCanvasMiddle" type="button">Clear</a>
                                </div>

                            </div>
                            <div class="col-md-4 center" style="padding-top: 85px;">
                                <div class="sign sign-sticky">   
                                    <h3 class="sign-text">Tell us what you need most to grow your business in the terms of capital or business services, but make it fit on the sticky note.</h3> 
                                </div>
                                <a class="btn selection" ng-click="drawSelect3()">Draw</a>
                                <a class="btn selection" ng-click="textSelect3()">Write</a>

                                <div ng-show="text3" >
                                    <textarea class="post-it" name="question3" ng-model="subForm.message3" data-role="none" placeholder="Type Response"></textarea>
                                </div>


                                <div ng-show="draw3">
                                    <canvas id="canvasLast" width="280" height="280"></canvas>
                                </div>
                                <div ng-show="draw3">
                                    <a class="btn selection" id="clearCanvasLast" type="button">Clear</a>
                                </div>

                            </div>
                        </div>

                        <input ng-hide="invisible" type="image"  id="sig-image" src="" alt="Your signature will go here!"/>
                        <input ng-hide="invisible" type="image"  id="sig-image2" src="" alt="Your signature will go here!"/>
                        <input ng-hide="invisible" type="image"  id="sig-image3" src="" alt="Your signature will go here!"/>

                        <textarea ng-hide="invisible" name="image1" id="sig-dataUrl"></textarea>
                        <textarea ng-hide="invisible" name="image2" id="sig-dataUrl2"></textarea>
                        <textarea ng-hide="invisible" name="image3" id="sig-dataUrl3"></textarea>

                        <div class="row">
                            <div ng-hide="hidden">
                                    <div class="btn selection no-vision">Hidden</div>
                                </div>
                            <div ng-hide="hidden" class="center">    
                                <button class="palette no-vision" type="button"></button>
                                
                            </div>

                            <div ng-show="showDraw" class="center">    
                                <button class="palette red" id="chooseRedSimpleTools" type="button"></button>
                                <button class="palette orange" id="chooseOrangeSimpleTools" type="button"></button>
                                <button class="palette yellow" id="chooseYellowSimpleTools" type="button"></button>
                                <button class="palette green" id="chooseGreenSimpleTools" type="button"></button>
                                <button class="palette blue" id="chooseBlueSimpleTools" type="button"></button>
                                <button class="palette purple" id="choosePurpleSimpleTools" type="button"></button>
                                <button class="palette brown" id="chooseBrownSimpleTools" type="button"></button>
                                <button class="palette black" id="chooseBlackSimpleTools" type="button"></button>
                                <button class="palette button" id="chooseCrayonSimpleTools" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button class="palette button" id="chooseEraserSimpleTools" type="button"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-md-offset-4 center space">
                            <div ng-show="messageSuccess" class="alert-success success-box" role="alert" id="success_submit">Successfully Submitted!</div>
                            <div ng-hide="notreal" class="alert-success success-box no-vision" role="alert">Successfully Submitted!</div>
                        </div>
                        
                        <div class="col-md-12 center submit-btn">
                            <div class="col-md-4 col-md-offset-4">
                                <button type="submit" ng-click="formSubmit()" class="btn sub-size btn-info" id="finalSubmit" >Submit</button>
                            </div>
                            

                        </div>

                    </form>
                </div>





            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill">
                    <div class="col-md-6">
                        <i class="clipboard red">
                            <i class="clip"></i>
                            <i class="paper red-paper"></i>
                        </i>
                        <div class="center sign">
                            <h1 class="sign-text ">Challenge:</h1>
                            <h3 class="sign-text">In today's world of new technology-based ventures, startups &amp; small businesses focused on business model innovation in blue chip &amp; project based industries are often overlooked by lenders &amp; investors alike.</h3>
                        </div>
                    </div>
                    <div class="col-md-6">        
                        <i class="clipboard">
                            <i class="clip"></i>
                            <i class="paper"></i>
                        </i>
                        <div class="center sign">
                            <h1 class="sign-text">Solution:</h1>
                            <h3 class="sign-text">Entrepreneur's focus on their customer value-proposition &amp; let a strategic partner focus on representing that value to the lenders &amp; investors necessary to make the venture a growing success.</h3>
                        </div>
                    </div>
                    <div class="spacing col-md-6 col-md-offset-3">
                    <form action="/contact-form" class="notepad" method="post"  id="contact_form">
                        <fieldset>
                            <!-- Form Name -->
                            <h1>Sign Up for our Mailing List</h1>

                            <!-- Text input-->
                              <div class="input-group">
                                <input name="email" placeholder="E-Mail Address" class="user-type" type="text">
                              </div>
                                
                            <!-- Success message -->
                            <div class="alert alert-success" role="alert" id="success_message">Success! Thanks for joining!</div>

                            <!-- Button -->
                            <div class="form-group">
                              <div class="col-md-12 center">
                                <button type="submit" class="btn btn-default" >Subscribe </button>
                              </div>
                            </div>

                        </fieldset>
                    </form>
 
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a ng-show="left" ng-click="viewLeft()" class="left-arrow" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        <a ng-show="right" ng-click="viewRight()" class="right-arrow"  href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-play"></span>
        </a>


        <a ng-show="lefthome" ng-click="viewHome()" class="right-arrow"  href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
        <a ng-show="righthome" ng-click="viewHome()" class="left-arrow"  href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>


    </header>



    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="../js/main.js" type="text/javascript"></script>
    <script type="text/javascript"> 
        $(document).ready(function() {
            prepareCanvas();
            prepareMiddle();
            prepareLast();
        });
    </script>

        
</body>
</html>